* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  scroll-behavior:smooth;
}

html,body {
  margin: 0;
  background-color: rgb(69, 69, 69);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
}

h1 {
  margin: 10px;
  font-size: 45px;
  transition: 0.1s;
  cursor: pointer;
}

p {
  font-size: 1.2em;
  font-weight: 550;
  margin: 2px;
}

h1:hover {
  color: rgb(221, 221, 221);
  font-size: 50px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px 80px;
  flex-wrap: wrap;
  padding: 1.5em;
}

.wrap-card {
  position: relative;
  width: 390px;
  height: 560px;
  }


.card {
      width: 100%;
      height: 100%;
      border: 3px solid rgb(91, 91, 91);
      position: absolute;
    }

/* Kartu Merah */
.depan {
  background-image: url(material/love.png);
  background-size: cover;
}

.belakang {
  background-image: url(material/diamond.png);
  background-size: cover;
}

.wrap-card:hover .depan {
  animation: putar-depan 0.3s 0.3s ease-in reverse both;
  cursor: pointer;
}

.wrap-card:hover .belakang {
  animation: putar-depan 0.3s ease-in both;
  cursor: pointer;
}

/* Kartu Hitam */
.depan2 {
  background-image: url(material/wajik.png);
  background-size: cover;
}

.belakang2 {
  background-image: url(material/sekop.png);
  background-size: cover;
}

.wrap-card:hover .depan2 {
  animation: putar-depan 0.3s 0.3s ease-in reverse both;
  cursor: pointer;
}

.wrap-card:hover .belakang2 {
  animation: putar-depan 0.3s ease-in both;
  cursor: pointer;
}


.footer {
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
}
@keyframes putar-depan {
  from {transform: rotateY(0);}
  to {transform: rotateY(90deg);}
}

@media (max-width:576px) {
  h1 {
    font-size: 35px;
  }
  .wrap-card {
    width: 280px;
    height: 400px;
    }
}